*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    height:65px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-part1{
 height: 100%;
 width: 30%;
 /* background-color: darkred; */
     display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: start;
    
}
.nav-part1 ul{
    display: flex;
    flex-direction: row;
    gap: 80px;
    list-style: none;
    padding-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    color: aliceblue;
}
.nav-part2{
 height: 100%;
 width: 30%;
 /* background-color: rgb(34, 108, 111); */
 display: flex;
 justify-content: center;
 align-items: center;
 color: aliceblue;
}
.nav-part3{
 height: 100%;
 width: 30%;
 /* background-color: rgb(123, 139, 0); */
 display: flex;
 justify-content: end;
 align-items: center;
}
.nav-part3 #btn01{
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 20px;
   border-radius: 10px;
   border: none;
   color: white;
   background-color: black;
}

/* nav abar end here */

.section-1{
    height: 92vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.section-1-top{
 height: 30%;
 width: 100%;
 /* background-color: blue; */
 display: flex;
 flex-direction: row;
}
.section-1-top .s-1-t-l{
 height: 100%;
 width: 50%;
 /* background-color: darkorange; */
 display: flex;
 justify-content: center;
 align-items: center;
}
.section-1-top .s-1-t-l h3{
 font-size: 50px;
 color: aliceblue;
}
/* 
#spn-1{
    font-weight: 100;
} */
#para-h{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
}

.section-1-top .s-1-t-r{
 height: 100%;
 width: 50%;
 /* background-color: dodgerblue; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;  
}
.paradiv{
   height: 100px;
   width: 400px; 
   margin-bottom: 15px;
}
.btndiv{
 height: 100px;
   width: 400px; 
   display: flex;
   align-items: center;
   justify-content: start;
}
.section-1-top .s-1-t-r p{
width: 450px;
color: aliceblue;
font-size: 20px;
}

.section-1-top .s-1-t-r button{
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
margin-top: 20px;
border-radius: 30px;
border: none;
font-size: 18px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section-1-bottum{
 height: 70%;
 width: 100%;
 /* background-color: chartreuse; */
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: end;
}
.dev-box-1{
height: 100%;
width: 20%;
/* background-color: rgb(123, 133, 16); */
border-top-right-radius: 30%;
border-top-left-radius: 30%;
    display: flex;
align-items: end;
justify-content:center ;
}
.dev-box-1 img{
    height: 95%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.dev-box-2{
height: 70%;
width: 20%;
/* background-color: darkgreen;  */
border-top-right-radius: 30%;
border-top-left-radius: 30%;
display: flex;
align-items: end;
justify-content:center ;
}
.dev-box-2 img{
    height: 90%;
    width: 70%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.dev-box-3{
 height: 100%;
width: 20%;
/* background-color: rgb(100, 0, 90);  */
border-top-right-radius: 30%;
border-top-left-radius: 30%;
    display: flex;
align-items: end;
justify-content:center ;
}
.dev-box-3 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}
.dev-box-4{
height: 100%;
width: 20%;
/* background-color: rgb(0, 2, 100); */
border-top-right-radius: 30%;
border-top-left-radius: 30%;
    display: flex;
align-items: end;
justify-content:center ;
}
.dev-box-4 img{
       height: 55%;
    width: 70%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}